.profile__title {
  font-style: normal;
  font-weight: 400;
  font-size: calc(14px + 4 * (100vw / 1280));
  line-height: 22px;
  margin: 16px 0 0;
}

@media (max-width: 930px) {
  .profile__title {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
  }
}