@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-regular.woff2") format("woff2"),
       url("Inter-regular.woff") format("woff"),
       url("Inter-regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("Inter-medium.woff2") format("woff2"),
       url("Inter-medium.woff") format("woff"),
       url("Inter-medium.ttf") format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-black.woff2") format("woff2"),
       url("Inter-black.woff") format("woff"),
       url("Inter-black.ttf") format('truetype');
}